@model ToDoListASP.NET.Models.Item
@{ 
    ViewData["Title"] = "To Do List";
    Layout = "~/View/Shared/_layout.cshtml";
}

<h2>Edit</h2>
<hr />
<h4>Edit this item: @Html.DisplayFor(model => model.Description)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.CategoryId)
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" class="btn btn-default" />
}
@Html.ActionLink("Back to List", "Index")

    @*<h2>Edit</h2>
    <hr />
    <h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ItemId)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>*@
